body {
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    text-shadow: black 0px 0px 12px;
    background-image: url("background.jpg");
    background-size: cover;
}

.title{
    font-size: 15px;
}
.projects{
    display: grid;
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

.projecttitle{
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 50px;
    height: 10px;
}
.university{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #393D3F;
    opacity: 0.8;
    width: 1fr;
    border: 7px solid #00A6E2;
    border-radius: 10px;
}
.web3{
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #393D3F;
    opacity: 0.8;
    width: 1fr;
    border: 7px solid #00A6E2;
    border-radius: 10px;
}
.music{
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #393D3F;
    opacity: 0.8;
    width: 1fr;
    border: 7px solid #00A6E2;
    border-radius: 10px;
}
.booklist{
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #393D3F;
    opacity: 0.8;
    width: 1fr;
    border: 7px solid #00A6E2;
    border-radius: 10px;
}
.philosophy{
    grid-column: 3;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #393D3F;
    opacity: 0.8;
    width: 1fr;
    border: 7px solid #00A6E2;
    border-radius: 10px;
}
.speedrun{
    grid-column: 4;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #393D3F;
    opacity: 0.8;
    width: 1fr;
    border: 7px solid #00A6E2;
    border-radius: 10px;
}
